$select-border-width: 1px;
$select-border-radius: 0;
$select-border-color: $color-black;
$select-error-color: $form-item-error-border-color;
$select-fill-color: $color-white;
$select-padding-top: $global-spacing;
$select-padding-bottom: $global-spacing;
$select-padding-left: $global-spacing * 2;
$select-padding-right: $global-spacing * 4;
$select-transition-time: 200ms;
$select-transition-ease: $ease-in-out-quad;

.select__wrapper {
    position: relative;

    &::after {
        position: absolute;
        content: '\25BE';
        bottom: 0;
        right: 0;
        width: $select-padding-right;
        text-align: center;
        padding-top: $select-padding-top + $select-border-width;
        padding-bottom: $select-padding-bottom + $select-border-width;
        pointer-events: none;
    }
}

.select__label {
    cursor: pointer;
    display: block;
}

.select__input {
    cursor: pointer;
    appearance: none;
    width: 100%;
    padding-top: $select-padding-top;
    padding-bottom: $select-padding-bottom;
    padding-left: $select-padding-left;
    padding-right: $select-padding-right;
    border-radius: $select-border-radius;
    border: 0;
    box-shadow: 0 0 0 $select-border-width $select-border-color inset;
    background-color: $select-fill-color;
    line-height: $font-line-height-body;

    &::-ms-expand {
        display: none;
    }

    .form__item--error & {
        box-shadow: 0 0 0 $select-border-width $select-error-color inset;
    }
}

.textarea__wrapper {
    position: relative;
}
