$form-item-margin: $global-spacing * 3;
$form-padding-left: $global-spacing;
$form-item-error-border-width: 1px;
$form-item-error-border-radius: 0;
$form-item-error-border-color: #ff0000;
$form-item-error-fill-color: rgba($form-item-error-border-color, 0.2);
$form-item-error-padding-top: $global-spacing/2;
$form-item-error-padding-bottom: $global-spacing/2;
$form-item-error-padding-left: $form-padding-left;
$form-item-error-padding-right: $global-spacing;

.form__item {
    margin-bottom: $form-item-margin;
}
