{#
    @shelf-version: 1.0.0
    Image macro

    data {
        classes: 'string', (optional)
        preload: 'string',
        image: 'string', (optional)
        srcset: 'string', (optional, for responsive images)
        alt: 'string',
        caption: 'string', (optional)
        hidden: boolean, (optional)
        objectFit: boolean, (optional)
        attr: 'string, (optional)
        customDataSrc: 'string', (optional)
        disableCrossFade: boolean, (optional)
    }
 #}

{% macro image(data) %}

    <figure class="c-image
        {%- if data.classes %} {{ data.classes }}{% endif -%}"
        {%- if data.objectFit %} js-hook-objectfit-container{% endif -%}
        {%- if data.attr %} {{ data.attr|safe }}{% endif -%}
    >

    <img class="{%- if not data.disableCrossFade %} image__default{% endif -%}"
        data-src="{{ data.image }}"
        {%- if data.preload %} src="{{ data.preload }}"{% endif -%}
        {%- if data.srcset %} data-srcset="{{ data.srcset }}"{% endif -%}
        {%- if data.objectFit %} js-hook-objectfit-img{% endif -%}
        {%- if data.hidden %} aria-hidden="true"{% endif %}
        {%- if data.customDataSrc %} {{ data.customDataSrc|safe }}{% endif %}
        alt="{{ data.alt or 'Image' }}"
    >

    {%- if not data.disableCrossFade %}
        <img class="image__ghost" aria-hidden="true"
            {%- if data.preload %} src="{{ data.preload }}"{% endif -%}
            {%- if data.objectFit %} js-hook-objectfit-img {% endif -%}
            alt="{{ data.alt or 'Image' }}"
            js-hook-shadow-image>
    {% endif -%}

    {%- if data.caption %}
    <figcaption class="c-image__caption">
        {{ data.caption }}
    </figcaption>
    {% endif -%}

    </figure>

{% endmacro %}
