// @shelf-version 1.0.0
$newsletter-background-color: $color-off-white !default;
$newsletter-transition-time: 400ms !default;
$newsletter-transition-ease: $ease-in-out-quad !default;

.c-newsletter {
  background-color: $newsletter-background-color;
}

.newsletter__form {
  position: relative;
}

.newsletter__fieldset {
  position: relative;
}

.newsletter__form-wrapper,
.newsletter__side {
  display: flex;
  flex-direction: column;
  padding-top: $global-spacing * 4;
  padding-bottom: $global-spacing * 4;
  height: 100%;

  @include screen-tablet-portrait-and-bigger {
    padding-top: $global-spacing * 8;
    padding-bottom: $global-spacing * 8;
  }
}

.newsletter__form-wrapper {
  position: relative;
  overflow: hidden;
  background-color: $newsletter-background-color;
  z-index: 1;
  transition: $newsletter-transition-time $newsletter-transition-ease;
  transition-property: width;

  @include screen-tablet-portrait-and-bigger {
    width: 100%;
  }

  .newsletter--is-open & {
    @include screen-tablet-portrait-and-bigger {
      width: 200%;
    }
  }
}

.newsletter__inputs-wrapper {
  overflow: hidden;
  transition: $newsletter-transition-time $newsletter-transition-ease;
  transition-property: width;

  @include screen-tablet-portrait-and-bigger {
    width: 66.666666667%;
  }

  .newsletter--is-open & {
    @include screen-tablet-portrait-and-bigger {
      width: 100%;
    }
  }
}

.newsletter__inputs {
  display: flex;
  transition: $newsletter-transition-time $newsletter-transition-ease;
  transition-property: width, max-height;

  @include screen-tablet-portrait-and-smaller {
    max-height: 46px;
  }
  @include screen-tablet-portrait-and-bigger {
    width: 300%;
  }

  .newsletter--is-open & {
    @include screen-tablet-portrait-and-smaller {
      max-height: 300px;
    }
    @include screen-tablet-portrait-and-bigger {
      width: 100%;
    }
  }
}

.newsletter__title {
  margin-bottom: $global-spacing * 4;
}

.newsletter__button-close {
  position: absolute;
  top: 2rem;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: $newsletter-transition-time $newsletter-transition-ease;
  transition-property: opacity;

  .newsletter--is-open & {
    opacity: 1;
    pointer-events: all;
  }
}

.newsletter__side {
  @include screen-tablet-portrait-and-bigger {
    opacity: 1;
    transition: $newsletter-transition-time / 2 $newsletter-transition-ease
      $newsletter-transition-time / 2;
    transition-property: opacity;
  }

  .newsletter--is-open & {
    @include screen-tablet-portrait-and-bigger {
      opacity: 0;
      transition: $newsletter-transition-time / 2 $newsletter-transition-ease;
      transition-property: opacity;
    }
  }
}

.newsletter__message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $newsletter-background-color;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  padding: $global-spacing * 2;
  z-index: 2;
  transition: $newsletter-transition-time / 2 $newsletter-transition-ease,
    0ms linear $newsletter-transition-time / 2;
  transition-property: opacity, visibility;
}

.newsletter__message--is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: $newsletter-transition-time / 2 $newsletter-transition-ease;
  transition-property: opacity;
}
