/*----------------------------------*\
  #COLORS
\*----------------------------------*/

// Color palette

$color-primary: #ff5454;
$color-secondary: #333333;
$color-tertiary: #fafafa;

$color-black: #000000;
$color-grey-dark: #333333;
$color-grey: #cacaca;
$color-grey-light: #808080;

$color-white: #ffffff;
$color-off-white: #ececec;

$color-success: #85c385;
$color-warning: #f3f5b0;
$color-error: #ffa1a1;

// Core color settings

// $color-background-html: $color-white;
// $color-background-primary: $color-white;

// var(--color-text)-header: $color-grey-dark;
$color-text: $color-grey-dark;

// $color-divider-line: $color-grey-light;

// $color-form-placeholder: $color-grey;
// $color-form-focus: $color-primary;


:root {
  --color-text: #{$color-grey-dark};

  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};

  --color-black: #{$color-black};
  --color-grey-dark: #{$color-grey-dark};
  --color-grey: #{$color-grey};
  --color-grey-light: #{$color-grey-light};

  --color-white: #{$color-white};
  --color-off-white: #{$color-off-white};
}

.alt-color-scheme {
  --color-text: #{invert($color-grey-dark)};

  --color-primary: #{invert($color-primary)};
  --color-secondary: #{invert($color-secondary)};
  --color-tertiary: #{invert($color-tertiary)};

  --color-black: #{invert($color-black)};
  --color-grey-dark: #{invert($color-grey-dark)};
  --color-grey: #{invert($color-grey)};
  --color-grey-light: #{invert($color-grey-light)};

  --color-white: #{invert($color-white)};
  --color-off-white: #{invert($color-off-white)};
}


// Social color palette

$color-social-twitter: #00aced;
$color-social-facebook: #3b5998;
$color-social-googleplus: #dd4b39;
$color-social-pinterest: #cb2027;
$color-social-linkedin: #007bb6;
$color-social-youtube: #bb0000;
$color-social-vimeo: #aad450;
$color-social-instagram: #517fa4;
$color-social-flickr: #ff0084;
$color-social-dribbble: #ea4c89;
$color-social-whatsapp: #4dc247;

// List of social channels with their colors you can use to loop through
$color-socials-map: (
  'twitter': $color-social-twitter,
  'facebook': $color-social-facebook,
  'linkedin': $color-social-linkedin,
  'youtube': $color-social-youtube,
);
