{#
    @shelf-version: 1.0.0
    Newsletter - Simple template
#}

{% import 'form-elements.html' as form %}
{% from 'button.html' import button %}

<div class="c-newsletter" js-hook-newsletter>
    <div class="o-container">

        {% call form.form({
            class: 'newsletter__form',
            hook: 'newsletter-form'
        }) %}
            {% call form.fieldset({
                legend: 'Newsletter signup',
                sronly: true,
                class: 'newsletter__fieldset'
            }) %}
                <div class="o-grid">
                    <div class="o-col-12 o-col-6--md u-flex-first">
                        <div class="newsletter__form-wrapper">

                            <h3 class="u-h2 newsletter__title">
                                Niks willen missen van onze nieuwtjes en acties?
                            </h3>

                            <div class="newsletter__inputs-wrapper">
                                <div class="newsletter__inputs">
                                    <div class="o-grid">
                                        <div class="o-col-12 o-col-4--md">
                                            {{ form.input({
                                                type: 'email',
                                                name: 'newsletter-email',
                                                id: 'newsletter-email',
                                                label: 'emailaddress',
                                                sronly: true,
                                                placeholder: 'Emailaddress',
                                                required: true,
                                                hook: 'newsletter-input'
                                            }) }}
                                        </div>
                                        <div class="o-col-12 o-col-4--md">
                                            {{ form.input({
                                                type: 'text',
                                                name: 'newsletter-firstname',
                                                id: 'newsletter-firstname',
                                                label: 'Firstname',
                                                sronly: true,
                                                placeholder: 'First name',
                                                hook: 'newsletter-input'
                                            }) }}
                                        </div>
                                        <div class="o-col-12 o-col-4--md u-text--right">
                                            {{ form.input({
                                                type: 'text',
                                                name: 'newsletter-lastname',
                                                id: 'newsletter-lastname',
                                                label: 'Lastname',
                                                sronly: true,
                                                placeholder: 'Last name',
                                                hook: 'newsletter-input'
                                            }) }}

                                            {{ button({
                                                element: 'button',
                                                type: 'submit',
                                                label: 'Submit',
                                                variant: 'ghost',
                                                icon: 'chevron-right',
                                                attr: 'disabled',
                                                hook: 'newsletter-submit'
                                            })  }}
                                        </div>

                                    </div>
                                </div>

                                <div class="newsletter__message newsletter__message--success" role="alert" aria-hidden="true" js-hook-newsletter-message-success>
                                    Bedankt voor uw aanmelding

                                    <button type="button" class="newsletter__button-close" js-hook-newsletter-button-close-message aria-title="Close success message">
                                        &times;
                                    </button>
                                </div>
                                <div class="newsletter__message newsletter__message--error" role="alert" aria-hidden="true" js-hook-newsletter-message-error>
                                    Oeps er is iets fout gegaan

                                    <button type="button" class="newsletter__button-close" js-hook-newsletter-button-close-message aria-title="Close error message">
                                        &times;
                                    </button>
                                </div>
                            </div>

                            <button type="button" class="newsletter__button-close" aria-title="Close newsletter form" js-hook-newsletter-button-close>
                                &times;
                            </button>

                        </div>
                    </div>
                    <div class="o-col-12 o-col-6--md">
                        <div class="newsletter__side">

                            <h3>
                                You can place great side content here.
                            </h3>

                        </div>
                    </div>
                </div>
            {% endcall %}
        {% endcall %}

    </div>
</div>
