<footer class="c-footer">
  <div class="o-container">
    <div class="o-grid">
      <div class="o-col-12 o-col-10--sm o-col-9--md">
        <div class="footer__left">
          <div class="footer__logo">{% svg "brand/dept.svg" %}</div>
          <ul class="footer__menu">
            <li class="footer__menu-item"><a href="#">Cases</a></li>
            <li class="footer__menu-item"><a href="#">Over</a></li>
            <li class="footer__menu-item"><a href="#">Stories</a></li>
            <li class="footer__menu-item"><a href="#">Diensten</a></li>
          </ul>
        </div>
      </div>
      <div class="o-col-12 o-col-2--sm o-col-3--md">
        <div class="footer__right">
          <div class="footer__socials">
            <a href="#" class="footer__social-icon">{% svg 'social/facebook' %}</a>
            <a href="#" class="footer__social-icon">{% svg 'social/twitter' %}</a>
            <a href="#" class="footer__social-icon"{% svg 'social/google-plus' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
