// @shelf-version 1.1.0
$toast-max-width: 500px !default;
$toast-gutter: $global-spacing * 2 !default;
$toast-gutter-small: $global-spacing * 2 !default;
$toast-gutter-large: $global-spacing * 6 !default;
$toast-transition-time: 400ms !default;
$toast-transition-ease: $ease-in-out-quad !default;
$toast-min-width-media-query: ($toast-max-width + $toast-gutter-small * 2) - 0.5;
$toast-close-button-size: 35px;

:root {
  --toast-bg-color: #{$color-white};
  --toast-text-color: #{$color-black};
}

.toast--success {
  --toast-bg-color: #{$color-success};
  --toast-text-color: #{$color-white};

  .toast__content {
    &::before {
      content: '\2764';
      font-size: 12px;
    }
  }
}

.toast--error {
  --toast-bg-color: #{$color-error};
  --toast-text-color: #{$color-white};

  .toast__content {
    &::before {
      content: '!';
      font-size: 12px;
    }
  }
}

.toast--warning {
  --toast-bg-color: #{$color-warning};
  --toast-text-color: #{$color-black};

  .toast__content {
    &::before {
      content: '\26A0';
      font-size: 12px;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes zoomInflyOutUp {
  from { transform: scale(0) translateX(-50%) translateY(120%) }
  to { transform: scale(1) translateX(-50%) translateY(0%) }
}

@keyframes zoomInflyOutDown {
  from { transform: scale(1) translateX(-50%) translateY(0%) }
  to { transform: scale(0) translateX(-50%) translateY(120%) }
}

.is--toast-open {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.is--toast-open.is-touch {
  body {
    position: fixed;
  }
}

.c-toast {
  position: fixed;
  top: auto;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 9999;
  display: flex;
  pointer-events: none;
  transition: $toast-transition-time $toast-transition-ease, 0ms linear $toast-transition-time;
  transition-property: opacity, visibility;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  animation: zoomInflyOutDown 1s;
}

.toast--is-showing {
  opacity: 1;
  pointer-events: all;
  transition: $toast-transition-time $toast-transition-ease;
  transition-property: opacity;
  visibility: visible;
  animation: fadeIn 2s, zoomInflyOutUp 1s;

  .toast__content {
    opacity: 1;
    transition: $toast-transition-time $toast-transition-ease 100ms,
      $toast-transition-time $toast-transition-ease;
    transition-property: transform, opacity;
  }
}

.toast__button-close {
  position: absolute;
  top: 0;
  right: 5px;
  width: 10px;
  height: 10px;
  display: block;
  color: var(--toast-text-color);
  font-size: 1.5rem;
  z-index: 1;

  .symbol {
    position: relative;
    bottom: 2px;
  }
}

.toast__content {
  position: relative;
  z-index: 1;
  max-width: $toast-max-width;
  margin-bottom: $toast-gutter-small;
  width: auto;
  height: auto;
  min-width: 180px;
  opacity: 0;
  padding: $global-spacing $toast-gutter-small;
  padding-left: calc(#{$toast-gutter} * 2);
  background-color: var(--(toast-bg-color));
  color: var(--toast-text-color);
  transition: $toast-transition-time $toast-transition-ease,
  $toast-transition-time $toast-transition-ease;
  transition-property: transform, opacity;

  @include screen-min-width($toast-min-width-media-query) {
    max-width: calc(#{$toast-max-width} - #{$toast-gutter-small * 2});
  }

  &::before {
    content: 'i';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--toast-text-color);
    color: var(--toast-bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}
